/* SVG icon styling. */

@use '../abstracts' as *;

// Base icon utility.
.icon {
  // Layout and sizing.
  display: inline-block;
  vertical-align: middle;
  width: 1em; // Scales with font-size automatically
  height: 1em;

  // Inherit color from parent.
  fill: currentColor;
  stroke: currentColor;

  // Unified Spring Transitions
  transform-origin: center center;
  transition:
    transform var(--speed-fast) var(--ease-spring-snappy),
    opacity var(--speed-fast) var(--ease-spring-snappy),
    filter var(--speed-fast) var(--ease-spring-snappy),
    color var(--speed-fast) var(--ease-spring-snappy);

  // Sizes.
  &[data-size='sm'] {
    font-size: 0.875em;
  }
  &[data-size='lg'] {
    font-size: 1.25em;
  }
  &[data-size='xl'] {
    font-size: 1.5em;
  }

  // Animations.
  &.icon-spin {
    animation: rotate 2s linear infinite;
    @include when-retro {
      animation-timing-function: steps(8); // Stepped spin.
    }
  }
}

// Interactive icons inside buttons/links.
.btn-icon,
.btn-void {
  .icon,
  svg {
    transition: transform var(--speed-fast) var(--ease-spring-snappy);
  }

  @media (hover: hover) {
    &:hover:not(:disabled) {
      .icon,
      svg {
        transform: scale(calc(var(--scale) + 0.1));
        filter: drop-shadow(var(--shadow-lift));
      }
    }
  }

  &:active:not(:disabled) {
    .icon,
    svg {
      transition-duration: 50ms;

      @media (pointer: coarse) {
        transition-duration: 0ms;
      }

      @include when-retro {
        transition-duration: 0ms;
      }

      transform: scale(0.9);
    }
  }

  @include when-retro {
    .icon,
    svg {
      // No blur in retro mode.
      shape-rendering: crisp-edges;
      filter: none !important;
    }
  }
}
