# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# package lock files
package-lock.json

# context for AI
scripts/generate_context.py
void_context.md

# css map files
global.css
global.css.map

# config
/src/config/font-registry.ts
/src/config/*.json
/src/styles/config/*