# Ignore artifacts:
build

node_modules
public
scripts

dist
.astro
.github
.vscode
.idea
.DS_Store

.gitignore
.gitattributes

Dockerfile
Makefile
docker-compose.yml

*.log

.env*

*.sh

bun.lockb
package-lock.json
pnpm-lock.yaml
.pre-commit-config.yaml

# astro.config.mjs

*.md

# config
/src/config/font-registry.ts
/src/config/*.json
/src/styles/config/*