/*
 * ROLE: Atmosphere Emitter
 * RESPONSIBILITY: Output Color Palettes and Mode settings (Light/Dark).
 */

@use 'sass:map';

// Generates strictly the "Soul" (Color/Font) of the theme.
@mixin generate-atmosphere($name, $config) {
  $palette: map.get($config, 'palette');
  $mode: map.get($config, 'type'); // 'light' or 'dark'

  @if $palette == null {
    @warn "No palette provided for atmosphere `#{$name}`.";
    $palette: ();
  }

  // Selector: [data-atmosphere="void"]
  [data-atmosphere='#{$name}'] {
    color-scheme: if($mode == 'light', light, dark);

    // Output Palette Variables
    @each $key, $value in $palette {
      --#{$key}: #{$value};
    }
  }
}
